.App {
  text-align: center;
}
.list{
  align-items: center;
}
#formt{
  border: 1px solid black;
  border-radius: 10px;
}
.inputp{
  margin-top: 20px;
  width:320px;
  height: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  border:rgb(221, 218, 218) solid 2px;
  border-radius: 9px;
}
#tablet{
  width: 400px;
  justify-content: space-evenly;
}
td{
  align-items: center;
}
#clear{
  margin-left: 50px;
}
.person{
  margin-top: 50px;
}
img{
  height: 150px;
  width:150px
}
section{
  background-color: rgba(212, 212, 212, 0.459);
  height: 150vh;
  width: 100vw;
  margin: 0px;
  display:flex;
}
.left{
  position: relative;
  top: 21%;
  left: 13%;
}
.right
{
  position: absolute;
  top: 20%;
  right: 14%;
  text-align: center;
}
h1
{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(56, 27, 221);
  font-size: 40px;
  margin-bottom: 10px;
}
p
{
  color: black;
  font-family: cursive;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
form
{
  
  background-color: white;
  padding: 15px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 20px;
  
}

.right form button
{
  width: 320px;
  height:40px;
  background-color:rgb(47, 11, 250);
  border-radius: 7px; 
  border-width: 1px;
  color:white;
  border:rgb(47, 11, 250);
  border-style: solid;
  margin-bottom: 10px;
opacity: 70%;
}

.right form button:hover{
  background-color: rgb(35, 78, 134);
  transition: 2s;
  border: rgb(35, 78, 134);
}
.right form a {
  text-decoration: none;
  display: inline-block;
  margin: 15px;
}
.right form button:last-child
{
  width: 220px;
  height:40px;
  background-color: green;
  border-radius: 7px;
  border-width: 1px;
  color:white;
  border: green;
  border-style: solid;
  margin-top: 10px;

}
.right form button:hover
{
  background-color: darkblue;
  transition-delay: 3s;  /* hovor delay*/
}
.right form a:hover
{
  text-decoration: underline;
}
.extra
{
  font-size: 20px;
  display: inline;
}
.create
{
  display: inline;
  color: black;
  text-decoration: none;
  
}
.right a{
  color: blue;
  text-decoration: none;
   display: inline-block; 
  margin-bottom: 5px; 
}

.right a:hover
{
  text-decoration: underline;
}
.right form button:last-child:hover
{
  background-color: darkgreen;
}
.right form input:focus
{
  border: blue solid 1px;
  border-radius: 5px;
  outline: none;
}
.right form input{
  font-size: 14px;
  opacity: 70%;
}
#eye
{
  position: absolute;
  top: 40%;
  right: 20%;
  height: 10px;
  width: 10px;
  border: none;
  background: none;
  color: gray;
}
.eyeIcon{
  height: 30px;
  width: 30px;
}